<div class="grid-container">
    <div class="cover">
        <a [routerLink]="['/albums', album.id]"><img class="coverImg" src="{{ picUrl }}" alt=""></a>
    </div>
    <div class="content">
        <a [routerLink]="['/albums', album.id]" class="albumName"><p class="name">{{ album.name }} ( {{ album.year}} )</p></a>
        <div >
            Japanese Title: <span class="jpname">{{ album.jpname }}</span>
        </div>    
        <div>
            English Title Translation: <span class="trans">{{ album.translation }}</span>
        </div>   
        <div class="class">
            Album Classification: {{ album.class }}
        </div>
        <div class="youtube">
            Youtube Trailer: <a href="{{ album.trailerUrl }}" target="_blank">{{ album.youtubeName }}</a>
        </div>
        <div class="spotify">
            Spotify: <a href="{{ album.spotifyUrl }}" target="_blank">{{ album.spotifyName }} </a>
        </div>
    </div>
</div>