<div class="grid-container">
    <div class="cover">
        <img class="coverImg" src="{{ album.coverPic }}" alt="">        
    </div>
    <div class="content">
        <p class="name">{{ album.name }} {{ album.year}}</p>
        <div >
            Japanese Title: <span class="jpname">{{ album.jpname }}</span>
        </div>    
        <div>
            English Title Translation: <span class="trans">{{ album.translation }}</span>
        </div>   
        <div class="class">
            Album Classification: {{ album.class }}
        </div>
        <div class="youtube">
            Youtube Trailer: <a href="{{ album.trailerUrl }}" target="_blank">{{ album.youtubeName }}</a>
        </div>
        <div class="spotify">
            Spotify: <a href="{{ album.spotifyUrl }}" target="_blank">{{ album.spotifyName }} </a>
        </div>
    </div>
</div>