.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10% auto;
    max-width: 800px;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif JP', serif;
    font-size: 1rem;
    justify-content: space-between;
}

a {
    text-decoration: underline;
}

a:visited {
    color: #000;
}

.jpname, .trans {
    font-weight: bold;
}


.name {
    font-family: Outfit, serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

div {
    font-size: 1.1rem;
}

.coverImg {
    width: 100%;
    height: 100%;
}