.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0 auto;
    width: 55%;
    max-width: 55%;
}

p {
    font-family: 'Noto Serif JP', serif;
}

.title {
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.section {
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
}

.section:hover {
    text-decoration: underline;
    cursor: pointer;
}

.routes {
    padding-top: 5%;
}

span {
    font-weight: 1000;
}