.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    /* grid-template-columns: auto auto; */
    /* gap: 10px; */
    margin: 0;
    margin-top: 3%;
    margin-left: 5%;
}

.column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;

}

.title {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: left;
    font-family: Outfit, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 5%;
}

.logo {
    grid-row: 2;
    grid-column: 1;
}

.logo img {
    max-width: 80%;
    max-height: auto;
    float: right;
}

.description {
    grid-row: 2;
    grid-column: 2;
    padding-right: 15%;
}

.description p {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.25rem;
    margin-top: 0;
    padding-left: 2%;
}