<header>
    <div class="logo">
        <a routerLink="/about"><img src="../../assets/logo/yrsk.svg" height="80px" alt="logo"></a>
    </div>
    
    <nav class="navbar">
    
        <ul class="nav-links">
            <li>
                <a routerLink="/about" routerLinkActive="active">ABOUT</a>
            </li>
            <li>
                <a routerLink="/albums" routerLinkActive="active">ALBUMS</a>
            </li>
            <li>
                <a routerLink="/lore" routerLinkActive="active">LORE</a>
            </li>
            <li>
                <a routerLink="/appendix" routerLinkActive="active">APPENDIX</a>
            </li>
            <li>
                <a routerLink="/credits" routerLinkActive="active">CREDITS</a>
            </li>
        </ul>
    </nav>
</header>
