<header>
    <img src="../../assets/logo/yrsk.svg" height="80px" class="logo">
    
    <nav class="navbar">
    
        <ul class="nav-links">
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">ALBUMS</a>
            </li>
            <li>
                <a href="#">LORE</a>
            </li>
            <li>
                <a href="#">APPENDIX</a>
            </li>
            <li>
                <a href="#">CREDITS</a>
            </li>
        </ul>
    </nav>
</header>
